/* styles.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: white;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: black;
  padding: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-start; /* Modificado de space-between para flex-start */
  align-items: center;
  z-index: 50;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin-left: 35rem; /* Mover os links para a esquerda */
}



nav ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #00ff00;
}

.logo {
  height: 50px;
  width: auto;
  margin-left: 5rem; /* Mover os links para a esquerda */
}