/* NavBarComponent.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: white;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: black;
  padding: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 50;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin-left: auto; /* Ajusta para centralizar os links */
  margin-right: 2rem; /* Espaçamento para a direita */
}

nav ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #00ff00;
}

.logo {
  height: 50px;
  width: auto;
  margin-left: 2rem; /* Ajusta o espaçamento do logo */
}

.logout-button {
  background: transparent;
  height: 30px;
  width: 30px;
  border: none;
  cursor: pointer;
  padding: 0; /* Remover padding para que o botão fique apenas com o tamanho da imagem */
}

.logout-button img {
  height: 20px; /* Ajuste o tamanho do ícone */
  width: auto;
}


.profile-info {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
}

.profile-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
